#user-box{	
  background-color: #e3f0f0;
  padding: 10px;
  #comment-user{
  	width: 100%;
  	padding: 10px 10px 7px;
  	background-color:#fff;
    border: solid 1px #baeaea;
    margin-bottom: 10px;
    display: flex;
  	img{
  		object-fit: cover;  		
  		height: 40px;
      width: 40px;
  		display: inline-block;
  	}
  	div{
  		padding: 8px 8px 0 5px;
  		resize: none;
  		display: inline-block;
  		border: 0;
  		min-height: 40px;
      margin-left: 5px;
  	   flex:1;
  		font-size: 15px;
  		line-height: 1.53;
  		color: #00b0b2;
      vertical-align: top;
      text-align: left;  				
  	}
    ul#images{
      overflow: hidden;
      li{
        display: inline-block;
        margin-left: 10px;
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-image: url(/assets/img/eliminar.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 15px;
          height: 15px;
        }
        img{
          height: 56px;
          width: 56px;
        }
      }
    }
  }
  >ul{
    li{
      width: 38px;
      background-position: center;
      height: 38px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #d0e8e8;
      display: inline-block;
      margin-right: 8px;
      vertical-align: top;
      position: relative;
      background-size: 20px;
      background-repeat: no-repeat;
      >div{
        width: 38px;
        height: 38px;       
      }
      >input{
        opacity: 0;
        cursor:pointer;
        width: 38px;
        height: 38px;        
        padding-top: 30px;
      }
      &:last-child{
        cursor: default;
        width: calc( 100% - 100px);
        text-align: right;
        background-color: transparent;
        margin-right: 0;
       
      }
    }
  }
  #time{
    background-image: url('/assets/img/time.png');
  }
  #upload-file{
    background-image: url('/assets/img/img.png');
  }
}
@media (max-width: 670px) {
#user-box{  
 
  #comment-user{
    padding: 20px 20px 18px;
    img{
      border-radius: 5px;
    }
    div{
         padding: 0px 8px 0 15px;
         font-size: 14px;
        
         color: #666666;     
    }
    ul#images{
   
      li{
     
        &:after{
        
        }
        img{
      
        }
      }
    }
  }
  >ul{
    li{
      
      >div{
        
      }
      >input{
    
      }
      &:last-child{
       
        button{
      
          &:hover{
           
          }
        }
      }
    }
  }
  #time{
 
  }
  #upload-file{
   
  }
}
}