<section id="menu-button">
	<article (click)="isMenuOpen = !isMenuOpen">
		<div></div>
		<div></div>
		<div></div>
	</article>	
	<ul *ngIf="isMenuOpen" (click)="isMenuOpen = !isMenuOpen">
		<li>This is Nexty</li>
		<li>About us</li>
		<li>We love feedback</li>
		<li (click)="selectModal.emit('modal-policy')">Privacy Policy</li>
		<li (click)="selectModal.emit('modal-cookies')">Cookies</li>
		<li (click)="selectModal.emit('modal-terms')">Terms and conditions</li>
		<li (click)="logout()">Logout</li>
	</ul>
	<div class="fade"  *ngIf="isMenuOpen" (click)="isMenuOpen = !isMenuOpen"></div>
</section>
	
