<app-header (showModal) ="modal = $event"></app-header>
<app-radar></app-radar>
<app-dashboard></app-dashboard>
<app-modal-profile (showModal) =" modal = $event " *ngIf="modal === 'modal-profile'"></app-modal-profile>
<app-modal-terms (showModal) =" modal = $event " *ngIf="modal === 'modal-terms'"></app-modal-terms>
<app-modal-policy (showModal) =" modal = $event " *ngIf="modal === 'modal-policy'"></app-modal-policy>
<app-modal-cookies (showModal) =" modal = $event " *ngIf="modal === 'modal-cookies'"></app-modal-cookies>
