<section id="modal-terms" class="modal info">
	<article>
		<div class="close" (click)="showModal.emit(undefined)"></div>
		
		<section>
			<section>
				<article class="container">					
					<h2>Cookies Policy</h2>
					<p>Nosotros, y los terceros con quienes nos asociamos, podemos usar cookies, balizas web, etiquetas, scripts, objetos compartidos localmente como HTML5 y Flash (a veces llamados “flash cookies”), identificadores de publicidad y tecnología similar en relación con el uso que haces del Servicio y de sitios web y aplicaciones móviles de terceros (“Cookies”). </p>

					<p>Las Cookies pueden tener identificadores únicos y residir, entre otros lugares, en tu ordenador o dispositivo móvil, en correos electrónicos que te enviemos y en nuestras páginas web. Las Cookies pueden transmitir información sobre ti y sobre el uso que haces del Servicio, como el tipo de navegador, las preferencias de búsqueda, la dirección IP, los datos relativos a publicidad que se te hayan mostrado o que hayas seleccionado, y la fecha y hora de su uso. Las cookies pueden ser permanentes o almacenarse únicamente durante una sesión determinada. </p>

					<p>En las páginas Web y aplicaciones móviles de Nexty utilizamos una serie de cookies entre las que pueden encontrarse las siguientes: </p>

					<p>· <strong>Cookies técnicas</strong>: se utilizan para permitir al usuario la navegación a través de la página Web y la utilización de las diferentes opciones o servicios que en ella existen, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, utilizar elementos de seguridad durante la navegación o almacenar, difundir y/o compartir contenidos. </p>

					<p>· <strong>Cookies de personalización</strong>: se utilizan para permitir al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario por ejemplo, el idioma, el tipo de navegador a través del cual se accede al servicio, la configuración regional desde donde se accede, etc. </p>

					<p>· <strong>Cookies de análisis</strong>: se utilizan para cuantificar el número de usuarios con la finalidad de realizar la medición y análisis estadístico de la utilización y actividad que hacen los usuarios de nuestra página Web, así como la elaboración de perfiles de navegación de los usuarios en dichas páginas y en nuestras aplicaciones, todo ello con el fin de introducir nuevas mejoras.</p>

					<p>· <strong>Cookies de publicidad</strong>: se utilizan para medir la publicidad que impacta a los usuarios, facilitan datos de publicidad y recogen información sobre las preferencias y elecciones de los usuarios sobre los contenidos de Nexty. Estos datos facilitan gestionar de forma eficaz la adecuación de los contenidos según las preferencias del usuario, además de, cualificar y mejorar la oferta de productos según los intereses de los usuarios.</p>

					<p>· <strong>Cookies de complemento</strong>(plug-in) para intercambiar contenidos sociales: se utilizan para identificar los contenidos compartidos con otros sitios web. </p>

					<p>Podrás desactivar algunas Cookies (aunque no todas) en los ajustes de tu navegador o dispositivo; sin embargo, esto podría afectar a la funcionalidad del Servicio. El método para desactivar las Cookies puede variar en función del dispositivo y navegador, aunque generalmente se encuentra en las preferencias o en las opciones de seguridad. Por ejemplo, los dispositivos iOS y Android tienen configuraciones diseñadas para limitar ciertas formas de seguimiento de anuncios. Ten en cuenta que cambiar cualquiera de estas configuraciones no impide que se te sigan mostrando anuncios. </p>

					<span>Este documento se actualizó por última vez el 1 de Julio de 2017.</span>

				</article>
			</section>
		</section>
	</article>
</section>