.tooltip{
	line-height: 28px;
    white-space: nowrap;
    transform: translateX(calc(-50% + 15px) );
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .26);
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
    z-index: 8;
    &:after{
    	position: absolute;
    	width: 0;
    	height: 0;
    	border-style: solid;
    	border-width: 7px 7px 7px;
    	content: '';
    }
	&.black{
		background-color: #252d34;
		color:#fff;
		border: solid 1px #252d34;
		&:after{
			border-color: transparent transparent #252d34 transparent;

		}
	}
    &.white{
        background-color: #fff;
        color:#b2b2b2;
        border: solid 1px #e5e5e5;
       
    }
    &.top{
        bottom: -38px;
        &:after{
            top: -15px;
            left: calc(50% - 4px);
        }
    }
    &.right{
        left: calc(100%);
        transform: translateX(10%) translateY(-90%);
        &:after{
            top: calc(50% - 7px);
            left: -13px;
            border-color: transparent #fff transparent transparent;
        }
    }  
    &.left{
        right: calc(100%);
        transform: translateX(-5%) translateY(45%);
        top: 0;
        &:after{
            top: calc(50% - 7px);
            left: 100%;
            border-color: transparent transparent transparent #f5a623;
        }
    }
    &.orange{
        color: #fff;
        background-color: #f5a623;
        border: solid 1px #f5a623;
       
    }
}
input[type="file"] {
  cursor: pointer;
}