.option-comment{
	>div{
		cursor: pointer;
		background-size: contain;
		background-size: auto 13px;
		background-position: center;
		background-repeat: no-repeat;
  		display: inline-block;
    	vertical-align: top;
	}
	.option-button{
		width: 20px;
  		height: 17px;
  		position: relative;
		background-image: url('/assets/img/option.png');		
	}
	.heart{
		font-size: 13px;
		line-height: 1;
		color: #fd6068;
		position: relative;		
		.likes{
			display: inline-block;
			vertical-align: top;
			padding-top: 3px;
		}
	}
}
.ico {
	    display: inline-block;
	    line-height: 30px;
	    width: 40px;
	    padding: 0;
	    height: 30px;
	    margin: 0;
	}