/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body{
  background-color: #f6f6f6;
}
 button{
  cursor: pointer;
  padding: 0 45px;
  line-height: 36px;
  border-radius: 3px;
  outline: none;
  box-shadow: none;
  border: 0;
  background-color: #f5a623;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  &:hover{
    background-color: #df961e;
  }
}
.fade{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
}
.with-tooltip{
  position: relative;
  cursor:pointer;
  .tooltip{
    display: none;
  }
  &:hover{
    .tooltip{
      display: block;
    }
  }
}

.ico-heart{
  display: inline-block;
  width: 14px;
  height: 17px;
  background-image: url(/assets/img/heart-empty.png);
  background-size: auto 13px;
  background-position: center right;
  background-repeat: no-repeat; 
  &.in{
    padding: 0 11px;
    height: 12px;
    background-position: center center;
  }
}

.modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 45, 52, 0.89);

  >article{
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    max-height: 80vh;
    background: #fff;
    border: solid 1px #e5e5e5;
    div.close{
      cursor: pointer;
      width::64px;
      height: 64px;
      position: absolute;
      right: -20px;
      top: -64px;
      background-image: url(/assets/img/close.png);
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat; 
    }
  }
  &.info{
    >article{
      font-size: 15px;
      line-height: 1.67;
      color: #666666;
      >section{
        overflow-y:auto;
          max-height: calc(80vh - 40px);
        >section{
          width: calc(100% - 20px);
          padding: 40px 0;
        }
      }
      h2{
        font-size: 20px;
        font-weight: bold;
        line-height: 0.75;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
      }
      h3{
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        margin: 25px 0;
      }
      p{
        margin-bottom: 25px;
      }
      h4{
        color: #000000;
        font-weight: bold;  
        margin-top: 25px;     
      }
      span{
        color: #ccc;
        margin: 25px 0;
        display: block;
      }
      strong{
        font-weight: bold;
      }
    }
  }
}
a{
  font-size: 15px;
  cursor: pointer;
  color: #00b0b2;
}
.fb{
  background-image: url(/assets/img/fb.png);
}
.in{
  background-image: url(/assets/img/in.png);
}
.tw{
  background-image: url(/assets/img/tw.png);
}
.li{
  background-image: url(/assets/img/li.png);
}
#distance{
  position: absolute;
  top: 75px;
  right: 10px;
  border-radius: 30px;
  background-color: #e2f0f0;
  font-size: 13px;
  line-height: 1;
  color: #00b0b2;
  padding: 13px 18px;
  &:after{
    background-image: url(/assets/img/flecha.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 9px;
    margin-left: 10px;
    content: '';
    display: inline-block;
  }
  &.disabled{
    opacity: 0.6;
      color: #00b0b2;
  }   
  .contextMenu{
    transform: none;
    color: #000;
    width: 100%;
  }
  
}
